* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #ECF2FD;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
